.App {
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.word {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.letter {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.letter--not-present {
  background-color: #aaa;
}

.letter--present {
  background-color: orange;
}
